

/*this for room details page */
.room-container {
    display: flex;
    gap: 30px;
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* LEFT IMAGE */
.room-left img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* RIGHT CONTENT */
.room-right {
    flex: 1;
}

.room-right h2 {
    margin-top: 0;
}

.room-right h3 {
    margin-top: 15px;
}