body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

/* HEADER */
header {
    background-color: #2c3e50;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* HERO */
.hero {
    height: 250px;
    background: url('https://images.unsplash.com/photo-1560448204-e02f11c3d0e2') center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

/* SEARCH */
.search-box {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-box input {
    padding: 10px;
    width: 250px;
    border: black 1px solid;
    outline: none;
    border-radius: 5px 0 0 5px; 
}

.search-box button {
    padding: 10px;
    border: black 1px solid;
    background-color: #3498db;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;

}

/* GRID ROOMS (FIXED SIZE) */
.rooms {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px); /* fixed width */
    justify-content: center; /* center grid */
    gap: 20px;
    padding: 30px;
}

/* ROOM CARD */
.room-card {
    width: 260px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.room-card:hover {
    transform: scale(1.03);
}

.room-card img {
    width: 100%;
    height: 160px; /* fixed image height */
    object-fit: cover;
    border-radius: 10px;
}

.room-card h3 {
    margin: 10px 0;
}

.room-card p {
    margin: 5px 0;
}

.room-card button {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #2ecc71;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 15px;
    background-color: #2c3e50;
    color: white;
}